<a href="https://colab.research.google.com/github/rca32/pythoncs_201904/blob/master/pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!git clone https://github.com/rca32/pythoncs_2019.git data
!pip install seaborn

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
#@title seaborn 소개 
#https://datascienceschool.net/view-notebook/4c2d5ff1caab4b21a708cc662137bc65/

try:
    import seaborn
except ImportError:
    pass
  
%matplotlib inline

# 타이타닉 Tabular data(테이블 형식)

In [0]:
#@title 데이터 읽어 드리기
df = pd.read_csv("data/titanic.csv")

In [0]:
#@title 기본적 Data 출력
df.head()

# 읽어 드린 df를 사용해서 아래의 질문에 대한 답을 구해보세요.

**승객의 연령 분포는 어떻게 됩니까?**

In [0]:
#힌트 hist함수

**승객의 생존율은 남녀간에 어떻게 다릅니까?**

In [0]:
#힌트 groupby,mean,agg,
#http://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

**아니면 다른 클래스간에 차이가 있습니까?**

**젊은 사람들이 생존 할 가능성이 더 높습니까?**

In [0]:
#평균 생존률
#25세 이하 평균 생존률

0.3838383838383838

# Indexing and selecting 심화

In [0]:
# series
population = pd.Series({'Germany': 81.3, 'Belgium': 11.3, 'France': 64.3, 'United Kingdom': 64.9, 'Netherlands': 16.9})

# dataframe
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'Seoul']}
countries = pd.DataFrame(data)

In [0]:

countries = countries.set_index('country')
countries

In [0]:
countries['area']

In [0]:
countries[['area', 'population']]

In [0]:
countries['France':'Netherlands']

In [0]:
countries.loc['Germany', 'area']

In [0]:
countries.loc['France':'Germany', ['area', 'population']]

In [0]:
countries.iloc[0:2,1:3]

In [0]:
countries2 = countries.copy()
countries2.loc['Belgium':'Germany', 'population'] = 10

In [0]:
countries[countries['area'] > 100000]

In [0]:
EXERCISE: 인구밀도를 구하시요.

In [0]:
EXERCISE: 인구밀도가 200이상인 국가를 구하세요

In [0]:
EXERCISE: 인구밀도 비율을 을 구하시요(공식 인구밀도/인구밀도 평균)

In [0]:
EXERCISE: UK의 수도를 정정 하시요

# isin and string methods

In [0]:
s = countries['capital']

In [0]:
s.isin(['Berlin', 'London'])

In [0]:
'Berlin'.startswith('B')

True

In [0]:
#https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html
countries['capital'].str.startswith('B')

country
Belgium            True
France            False
Germany            True
Netherlands       False
United Kingdom    False
Name: capital, dtype: bool

In [0]:
EXERCISE: 글자수가 7자 이상인 국가 찾기

In [0]:
EXERCISE:  'an'이 포함된   모든 국가 선택

In [0]:

countries.loc['Belgium', 'capital'] = 'Ghent'

In [0]:
countries['capital']['Belgium'] = 'Antwerp2'

In [0]:
countries

In [0]:
#https://www.dataquest.io/blog/settingwithcopywarning/
countries[countries['capital'] == 'Antwerp']['capital'] = 'Brussels'

In [0]:
#https://drive.google.com/uc?id=0B3G70MlBnCgKal9UYTJSR2ZhSW8&export=download

In [0]:
EXERCISE: 명화는 몇편인가?

In [0]:
EXERCISE: 가장 오래된 영화 5편

In [0]:
EXERCISE: Hamlet에 관련된 영화는 몇편인가

In [0]:
EXERCISE: Hamlet에 관련된 영화는 몇편인가

In [0]:
EXERCISE:  1950대 영화는 몇편인가?

In [0]:
EXERCISE: 영화 '인셉션'에서 'n' 값으로 순위를 매기지 않는 배역은 몇개나 있남?

In [0]:
EXERCISE: 영화 '인셉션'에서 'n' 값으로 순위를 매기는 배역은 몇개나 있남?

In [0]:
EXERCISE: Hamlet 명화의 역활갯수의 변화를 그리시요